.tile-container{
    margin:1rem 0 0 5rem;
    display: flex;
    text-align: center;
    box-sizing: border-box;
    position: relative;
}
.tile-1{
    width: 70%;
    border-right: 0px solid gray;
   
}
.tile-2{
    width: 30%;
}
.tile-2-child{
    position: sticky;
    top: 4rem;
}
.box{
    margin: 5% 15%;
    padding: 150px 50px;
    background-color:#fff;
    /* box-shadow: 0 0 1rem rgba(0,0,0, 0.3); */
    border:1px solid grey;
    border-radius: 8px;
}
.tile-2 .box{
    
    padding: 5rem 2rem 4rem 4rem;
    margin: 2.5rem 3rem 0 0;
   

}