.side-menu {
    position: fixed;
    width: 12rem;
    height: 100%;
    padding: 1% 1%;
    box-sizing: border-box;
    transition: width 0.2s ease;
    z-index: 1;
}

.side-menu.setTop-light {
    background-color: #ffffff;
    transition: all 0.2s linear;
}

.side-menu.setTop-dark {
    background-color: #171717;
    transition: all 0.2s linear;
}

.side-menu.inactive {
    width: 4rem;
}

.side-menu .top-section {
    position: relative;
    margin-top: 13px;

}

.side-menu .top-section .logo {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 100%;
}

.side-menu .top-section .logo img {
    max-width: 100%;
    max-height: 100%;
}

.side-menu .top-section .toggle-btn {
    position: absolute;
    font-size: 25px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: 2;
}

.side-menu .top-section .toggle-btn.dark {
    color: white;
    transition: all 0.2s linear;
}

.side-menu.inactive .top-section .toggle-btn {
    right: -50px;
}

.Divider {
    width: 100%;
    height: 1px;
    border-radius: 1px;
    background-color: #666;
    margin-top: 10px;
    margin-bottom: 10px;
}

.side-menu .main-menu {
    text-decoration: none;
    font-size: 100%;
    display: block;
    font-weight: 600;
}

.side-menu .main-menu {
    margin-top: 15%;
}

.side-menu .main-menu .menu-name {
    display: inline-block;
    margin: 0 5%;
    line-height: 40px;
    position: absolute;
    opacity: 1;
    transition: opacity 0.2s ease;
}

.side-menu .main-menu .menu-name.dark {
    color: #eee;
    transition: all 0.2s linear;
}

.side-menu.inactive .main-menu .menu-name {
    opacity: 0;
}

.side-menu .main-menu .home-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
}

.side-menu .main-menu .home-icon img {
    max-width: 100%;
    max-height: 100%;
}

.sidebar-footer {
    width: 100%;
    height: 9%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.sidebar-footer.light {
    background-color: #e7e7e7;
    transition: all 0.2s linear;
}

.sidebar-footer.dark {
    background-color: #515151
}

.sidebar-footer .avatar {

    margin: 10px 10px;
    display: inline-block;

}

.sidebar-footer .avatar img {
    max-width: 40px;
    max-height: 40px;
    border-radius: 50%;
}

.sidebar-footer .user-info {
    display: inline-block;
    transform: translateY(-20%);
    opacity: 1;
}

.sidebar-footer .user-info.dark {
    color: #eee;
    transition: all 0.2s linear;
}

.side-menu.inactive .sidebar-footer .user-info {
    opacity: 0;
    transition: opacity 0.1s ease;
}

.sidebar-footer .user-info h5 {
    font-size: 80%;
}

.sidebar-footer .user-info p {
    font-size: 70%;
}