.nav-main{
    height: 65px;
    text-align: center;
}
.nav-main.set-dark{
    background-color: rgb(49, 40, 40);
}
.nav-main.set-light{
    background-color: #E6E6FA;
}
.nav-main .nav-heading{ 
    display: inline-block;
    font-size: 40px;
    transform: translateY(7px);
}
.nav-main .toggle-mode{
    display: inline-block;
    position: absolute;
    right: 2%;
    /* background-color: red; */
    font-size: 20px;
    margin-top:20px;
}