.toggle-mode {
    display: inline-block;
    position: fixed;
    right: 2%;
    margin-top: 20px;
    z-index: 2;
    cursor: pointer;
}

.toggle-mode .bi.bi-sun-fill {
    color: rgb(255, 255, 255);
    transition: all 0.2s linear;
}

.nav-main .toggle-mode .bi.bi-sun-fill {
    color: mediumslateblue;
    transition: all 0.2s linear;
}