.nav-main{
    height: 3rem;
    text-align: center;
   
   
}
.nav-main.set-dark{
    background-color: #171717;
    transition: all 0.2s linear;
}
.nav-main.set-light{
    background-color: #ffffff;
    /* background: linear-gradient(to bottom right , red ,blue ); */
    transition: all 0.2s linear;
}
.nav-main .nav-heading{ 
    display: inline-block;
    font-size: 2rem;
}
.nav-main .nav-heading.dark {
   color: #ffffff  
}
 .toggle-mode{
    display: inline-block;
    position: fixed;
    right: 2%;
    margin-top:20px;
    z-index: 2;
}
.toggle-mode .bi.bi-sun-fill{
    color:rgb(255, 255, 255);
    transition: all 0.2s linear;
}.nav-main .toggle-mode .bi.bi-sun-fill{
    color:mediumslateblue;
    transition: all 0.2s linear;
}